@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>About</h1>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Abhay Trading Web Application</h1>
        <p class="lead">This is a demo of a ASP.NET Core Web Application connected with webAPI project and Cloud Firestore.</p>
        <span class="badge badge-success">A Project By Sidharth Mahai</span>
    </div>
</div>